<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminlayout}">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Oda Mjekeve</title>

</head>
<body>
<body>
	<div layout:fragment="content">
	<div
			th:replace="shared/admin/_navbar :: nav(photoPath=${userDetails.photoPath})"></div>
		<div class="header bg-primary pb-6">
			<div th:replace="shared/admin/_header :: header(homelink='admin/odaMjekesise/list',root='OdaMjekeve',root2='shtoAnetarin')"></div>
		</div>
		<div class="container-fluid mt--6">
			<div class="col-xl-12 order-xl-1">
				<div class="card">
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Shto Anetarin</h3>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form th:action="@{/admin/odaMjekesise/save}" th:object="${anetari}" method="POST">
							<input type="hidden" th:field="*{id}" />
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Nr Identifikues</label> <input
												type="text" th:field="*{identifyNo}" class="form-control"
												placeholder="Nr Identifikues">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Nr Anetarit</label> <input
												type="text" th:field="*{nrAnetarit}" class="form-control"
												placeholder="Nr Anetarit">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Emri</label> <input
												type="text" th:field="*{emri}" class="form-control"
												placeholder="Emri">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Mbiemri</label> <input
												type="text" th:field="*{mbiemri}" class="form-control"
												placeholder="Mbiemri">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Emri Prindit</label> <input
												type="text" th:field="*{emriPrindit}" class="form-control"
												placeholder="Emri Prindit">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Nr Licences</label> <input
												type="text" th:field="*{licenceNO}" class="form-control"
												placeholder="Nr Licences">
										</div>
									</div>
								</div>
								<!--
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="datepicker">Data Skadimit</label>
                        <input type="date" th:field="*{dataSkadimit}" id="input-last-name" class="form-control" placeholder="Data Skadimit" pattern="yyyy-MM-dd">
                      </div>
                    </div>
                  </div>
                  -->
							</div>
							<button type="submit" class="btn btn-info col-2">Save</button>
						</form>
						<hr class="my-4">
						<a type="button" class="float-left btn btn-primary"
							th:href="@{/admin/odaMjekesise/list}">Kthehu tek lista e anetareve</a>
					</div>
				</div>
			</div>
			<hr class="my-4">
		</div>
	</div>
</body>
</body>
</html>