<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminlayout}">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Oda Mjekeve</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
<link
	href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>
<body>
<body>
	<div layout:fragment="content">
		<div th:replace="shared/admin/_navbar :: nav(photoPath=${userDetails.photoPath})"></div>

		<div class="header bg-primary pb-6">
			<div
				th:replace="shared/admin/_header :: header(homelink='admin/attributes/list',root='Atributet',root2='shtoAtributin')"></div>
		</div>
		<div class="container-fluid mt--6">
			<div class="col-xl-12 order-xl-1">
				<div class="card">
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Shto Atributin</h3>
							</div>
						</div>
					</div>

					<div class="card-body">
						<form th:action="@{/admin/attributes/save}" method="POST"
							th:object="${attribute}">
							<input type="hidden" th:field="*{id}" />
							<h6 class="heading-small text-muted mb-4">User information</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-username">Emri</label>
											<input type="text" id="input-username" class="form-control"
												placeholder="Emri" th:field="*{name}">
										</div>


									</div>

									<div class="col-lg-6">
										<div class="form-group">

											<label class="form-control-label">Shto tipin e kontrollit
												</label> <select aria-controls="example" id="specId"
												name="specId"
												class="custom-select custom-select-sm form-control form-control-sm">
												<option th:value="${cT.getId()}" selected="selected" 
												th:if="${#httpServletRequest.requestURI.startsWith('/admin/attributes/showFormForUpdate')}" th:text="${cT.getName()}"></option>
												<option th:unless="${#httpServletRequest.requestURI.startsWith('/admin/attributes/showFormForUpdate')}" th:value="1" selected="selected">--Zgjedh
													tipin e kontrollit--</option>
												<option th:object="${specId}"
													th:each="tempCT : ${cTList}" th:value="${tempCT.id}"
													th:text="${tempCT.name}"></option>
											</select>

										</div>
									</div>

								</div>
								<div class="row">
									
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-first-name">Shfaq ne Filter
												</label> <br><input type="checkbox" th:field="*{showInFilter}" th:checked
												=${attribute.isShowInFilter()} data-style="ios">
										</div>

									</div>

								</div>
							</div>
							<hr class="my-4" />

							<!-- Description -->
							<h6 class="heading-small text-muted mb-4">Descriptin</h6>
							<div class="pl-lg-4">
								<div class="form-group">
									<label class="form-control-label">Descriptin</label>
									
								</div>
							</div>
							<button type="submit" class="btn btn-info col-2">Save</button>
						</form>
						<hr class="my-4">
						<a type="button" class="float-left btn btn-primary"
							th:href="@{/admin/attributes/list}">Kthehu tek lista e
							atributeve</a>
					</div>
				</div>
			</div>
			<hr class="my-4">
		</div>
	</div>
</body>
</body>
</html>