<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminlayout}">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Oda Mjekeve</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
<link
	href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


</head>
<body>
<body>
	<div layout:fragment="content">
		<div
			th:replace="shared/admin/_navbarWithoutSearch :: nav(photoPath=${userDetails.photoPath},spe=${specialities})"></div>

		<div class="header bg-primary pb-6">
			<div
				th:replace="shared/admin/_header :: header(homelink='admin/attributes/list',root='Atributet',root2='shtoAtributin')"></div>
		</div>
		<div class="container-fluid mt--6">
			<div class="col-xl-12 order-xl-1">
				<div class="card">
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Shto Atributin</h3>
							</div>
						</div>
					</div>

					<div class="card-body">
						<form th:action="@{/admin/attributes/save}" method="POST"
							th:object="${attribute}">
							<input type="hidden" th:field="*{id}" />
							<h6 class="heading-small text-muted mb-4">User information</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-username">Emri</label>
											<input type="text" id="input-username" class="form-control"
												placeholder="Emri" th:field="*{name}">
										</div>


									</div>

									<div class="col-lg-6">
										<div class="form-group">

											<label class="form-control-label">Shto tipin e
												kontrollit </label> <select aria-controls="example" id="specId"
												name="specId"
												class="custom-select custom-select-sm form-control form-control-sm">
												<option th:value="${cT.getId()}" selected="selected"
													th:if="${#httpServletRequest.requestURI.startsWith('/admin/attributes/showFormForUpdate')}"
													th:text="${cT.getName()}"></option>
												<option
													th:unless="${#httpServletRequest.requestURI.startsWith('/admin/attributes/showFormForUpdate')}"
													th:value="1" selected="selected">--Zgjedh tipin e
													kontrollit--</option>
												<option th:object="${specId}" th:each="tempCT : ${cTList}"
													th:value="${tempCT.id}" th:text="${tempCT.name}"></option>
											</select>

										</div>
									</div>
									
		

								</div>
								<div class="row">

									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-first-name">Shfaq
												ne Filter </label> <br> <input type="checkbox"
												th:field="*{showInFilter}"
												th:checked=${attribute.isShowInFilter()} data-style="ios">
										</div>

									</div>

								</div>
							</div>
							<hr class="my-4" />


							<div class="modal fade" id="deleteModalAuth" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Modal
												title</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">Deshironi ta fshieni gjuhen?</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<a href="" class="btn btn-primary" id="delRefAuth">Confirm</a>
										</div>
									</div>
								</div>
							</div>


							<button type="submit" class="btn btn-info col-2">Save</button>
						</form>
						<br>
<div th:if="${#httpServletRequest.requestURI} == '/admin/attributes/showFormForUpdate'">
						<form th:action="@{/admin/attributes/saveValues}" method="POST"
							th:object="${attrValue}">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col-8">
										<h3 class="mb-0">Shto Vlerat</h3>
									</div>
								</div>
							</div>
							<div class="card-header">
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">

												<label class="form-control-label" for="input-username">Vlera</label>
												<input type="text" id="input-username" class="form-control"
													placeholder="Vlera" th:field="*{value}">
												<button type="submit" id="values" class="btn btn-info col-3">Add</button>

											</div>


										</div>

									</div>
								</div>							
									<ul class="list-group">
										<li class="list-group-item active">VLERAT</li>
										<li th:each="tempLang : ${attrValues}"
											th:if=${tempLang.isDeleted()} class="list-group-item">[[${tempLang.value}]]
											<a class="delBtn"
											th:href="@{/admin/attributes/delete/attrValue(specId=${tempLang.attribute.id},attrVal=${tempLang.id})}">
												<span class="closebtn float-right"
												onchange="this.parentElement.style.display='none'">&times;
											</span>
										</a>
										</li>
									</ul>
							</div>
						</form>
						</div>
						<hr class="my-4">
						<a type="button" class="float-left btn btn-primary"
							th:href="@{/admin/attributes/list}">Kthehu tek lista e
							atributeve</a>
					</div>
				</div>
			</div>

		</div>
	</div>
			
</body>
</html>