<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminlayout}">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Perdoruesit</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
</head>
<body>
<body>
	<div layout:fragment="content">
<!--		<div-->
<!--			th:replace="shared/admin/_navbarWithoutSearch :: nav(photoPath=${userDetails.photoPath},spe=${specialities})"></div>-->
		
		<div class="header bg-primary pb-6">
			<div
				th:replace="shared/admin/_header :: header(homelink='admin/perdoruesit/list',root='Perdoruesit',root2='editoPerdoruesin')"></div>
		</div>
		<div class="container-fluid mt--6">
			<div class="col-xl-12 order-xl-1">
				<div class="card">
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Shto Perdoruesin</h3>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form th:action="@{/admin/perdoruesit/update}" th:object="${user}"
							method="POST">
							<input type="hidden" th:field="*{id}" />
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Username</label> <input
												type="text" th:field="*{username}" class="form-control"
												placeholder="Username" th:readonly="*{username}">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Emri</label> <input
												type="text" th:field="*{firstName}" class="form-control"
												placeholder="Emri">
										</div>
									</div>
									<!--<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Password</label> <input
												type="password" th:field="*{password}" class="form-control"
												placeholder="Password" readonly>
										</div>
									</div>-->
								</div>
								<div class="row">

									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Mbiemri</label> <input
												type="text" th:field="*{lastName}" class="form-control"
												placeholder="Mbiemri">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Email</label> <input
												type="text" th:field="*{email}" class="form-control"
												placeholder="Email" th:readonly="*{email}">
										</div>
									</div>
									<hr class="my-4">
									<div class="col-lg-8"></div>
								</div>
								<hr class="my-4">
								<div class="row">
									<div class="col-8">
										<h3 class="mb-0">Rolet</h3>
									</div>
									<div class="col-lg-6 collapsible chip">
										<div class="modal fade" id="deleteModalAuth" tabindex="-1"
											role="dialog" aria-labelledby="exampleModalLabel"
											aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered"
												role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Modal
															title</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">Deshironi ta fshieni rolin?</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Close</button>
														<a href="" class="btn btn-primary" id="delRefAuth">Confirm</a>
													</div>
												</div>
											</div>
										</div>
										<ul class="list-group">
											<li 
												class="list-group-item active">ROLE_ADMIN
											</li>
											<li th:each="tempAuth : ${authorities}" th:if="${tempAuth.authority} != ' '"
												class="list-group-item">[[${tempAuth.authority}]]  <a
												class="delBtn"
												th:href="@{/admin/perdoruesit/delete/authority(userName=${user.username},authName=${tempAuth.authority})}">
													<span class="closebtn float-right"
													onchange="this.parentElement.style.display='none'">&times;</span>
											</a>
											</li>
										</ul>
									</div>
									<br>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label">Shto rolin</label> <select
												aria-controls="example" id="authName" name="authName"
												class="custom-select custom-select-sm form-control form-control-sm">
												<option value="" selected="selected">--Zgjedh
													rolin--</option>
												<option th:object="${authName}"
													th:each="tempAuth : ${intersectAuth}"
													th:value="${tempAuth.authority}"
													th:text="${tempAuth.authority}"></option>
											</select>
										</div>
									</div>
								</div>
								<hr class="my-4">
								<!--<div class="row">
			                    <div class="col-lg-6">
			                      <div class="form-group">
			                        <label class="form-control-label" for="datepicker">Data Skadimit</label>
			                        <input type="date" th:field="*{dataSkadimit}" id="input-last-name" class="form-control" placeholder="Data Skadimit" pattern="yyyy-MM-dd">
			                      </div>
			                    </div>
			                  </div>  -->

							</div>
							<button type="submit" class="btn btn-info col-2">Save</button>
						</form>
						<hr class="my-4">
						<a type="button" class="float-left btn btn-primary"
							th:href="@{/admin/perdoruesit/list}">Kthehu tek lista e
							perdoruesve</a>
					</div>
				</div>
			</div>
			<hr class="my-4">
		</div>
	</div>
</body>
</body>
</html>