<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

	<div th:fragment="section">
		<section id="hero" class="d-flex align-items-center">
			<div class="container">
				<h1>Welcome to DoctorFinder</h1>
				<h2>Are you a doctor?</h2>
				<a th:href="@{/doctor/confirm}" class="btn-get-started scrollto">Claim your profile</a>
			</div>
		</section>
	</div>
	<script>
		
	</script>
</body>
</html>