<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminlayout}">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Oda Mjekeve</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
<link
	href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>
<body>
<body>
	<div layout:fragment="content">
		<div th:replace="shared/admin/_navbar :: nav(photoPath=${userDetails.photoPath})"></div>

		<div class="header bg-primary pb-6">
			<div
				th:replace="shared/admin/_header :: header(homelink='admin/certification/list',root='Certifikatat',root2='shtoCertifikaten')"></div>
		</div>
		<div class="container-fluid mt--6">
			<div class="col-xl-12 order-xl-1">
				<div class="card">
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Shto Atributin</h3>
							</div>
						</div>
					</div>

					<div class="card-body">
						<form th:action="@{/admin/certification/save}" method="POST"
							th:object="${certification}">
							<input type="hidden" th:field="*{id}" />
							<h6 class="heading-small text-muted mb-4">User information</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-username">Emri</label>
											<input type="text" id="input-username" class="form-control"
												placeholder="Emri" th:field="*{titleOfCertification}">
										</div>


									</div>

									

								</div>
								
							</div>
							<hr class="my-4" />
							<button type="submit" class="btn btn-info col-2">Save</button>
						</form>
						<hr class="my-4">
						<a type="button" class="float-left btn btn-primary"
							th:href="@{/admin/certification/list}">Kthehu tek lista e
							certifikatave</a>
					</div>
				</div>
			</div>
			<hr class="my-4">
		</div>
	</div>
</body>
</body>
</html>